<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Preview Template:Simple-Standard Side-by-Side View</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="//promocms.dja.com/js/validation.basic.js"></script>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
<style>
body {
	font-size: 12px;
}
.footer {
	padding: 10px 10px 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
}
label {
	display: block;
}
input[type='text'] {
	width: 100%;
}
.formfield {
	margin-top: 5px;
}
.flex-control-thumbs li {
	width: 16.666%!important;
}
.flex-control-thumbs img {
	height: 45px;
}
.error_container {
	background-image: url('https://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/form/images/error.png');
	background-position: top right;
	background-repeat: no-repeat;
	border: 1px solid red !important;
	display: inline-block;
	zoom: 1;
 *display:inline;
	white-space: nowrap;
}
.error_container input {
	margin: 0px;
	background-image: url('https://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/form/images/error.png');
	background-repeat: no-repeat;
	background-position: top right;
	padding-right: 9px;
}
.error_container input, .error_container select {
	border: 0px;
}
.error_container textarea {
	background: #EDAABD !important;
}
.input_wrapper {
	display: inline-block;
	zoom: 1;
*display:inline;
	white-space: nowrap;
}
</style>
</head>

<body>
<div class="wrapper">
  <div id="content" class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="page-header col-sm-12">
          <div data-panel="1">
            <div class="row">
<div class="col-md-12">
  <div id="edb2a55f-df5e-4009-affb-7d20f92882e7">
    Site Header
  </div>
</div>
</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default well"> 
            <!-- Default panel contents -->
            <div class="panel-body" data-panel="2"> 
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default well"> 
            <!-- Default panel contents -->
            <div class="panel-body" data-panel="3"> 
              <form data-submit="this-panel" data-path="/e6259451-e9c0-4c4a-b65c-5fc4a6c192fd.3"><div class="row">
<div class="col-md-12">
  <div id="b363e0e7-92ee-4114-aebd-2747ccad053e">
    <h2>Tell Us About Yourself</h2>
  </div>
</div>
</div><div class="row">
<div class="col-md-12">
  <div class="formfield">
    <label for="bc2af31e-4662-43f5-b493-5287f19a0350">
      Address 1
    </label>
    <input type="text" placeholder="" id="bc2af31e-4662-43f5-b493-5287f19a0350" name="bc2af31e-4662-43f5-b493-5287f19a0350" data-match="" data-validation="address"  data-required="true"  maxlength="100">
  </div>
</div>
</div><div class="row">
<div class="col-md-12">
  <div class="formfield">
    <label for="69a06075-05f5-4753-a06d-1b35c388c144">
      Address
    </label>
    <input type="text" placeholder="" id="69a06075-05f5-4753-a06d-1b35c388c144" name="69a06075-05f5-4753-a06d-1b35c388c144" data-match="" data-validation="any"  data-required="false"  maxlength="100">
  </div>
</div>
</div><div class="row">
<div class="col-md-12">
  <div class="formfield">
    <label for="df0b0770-1adc-447b-a10e-5a236c2f5d38">
      City
    </label>
    <input type="text" placeholder="" id="df0b0770-1adc-447b-a10e-5a236c2f5d38" name="df0b0770-1adc-447b-a10e-5a236c2f5d38" data-match="" data-validation="city"  data-required="true"  maxlength="30">
  </div>
</div>
</div><div class="row">
<div class="col-md-12">
  <div class="formfield">
    <label for="905b20d2-6430-407f-adce-1eab870d519b">
      State:
    </label>
    <select data-validation="state" data-required="true" id="905b20d2-6430-407f-adce-1eab870d519b" name="905b20d2-6430-407f-adce-1eab870d519b" style=" width: 100%; max-width:100%;">
      
      <option value="AL">
      AL
      </option>
      
      <option value="AK">
      AK
      </option>
      
      <option value="AZ">
      AZ
      </option>
      
      <option value="AR">
      AR
      </option>
      
      <option value="CA">
      CA
      </option>
      
      <option value="CO">
      CO
      </option>
      
      <option value="CT">
      CT
      </option>
      
      <option value="DE">
      DE
      </option>
      
      <option value="DC">
      DC
      </option>
      
      <option value="FL">
      FL
      </option>
      
      <option value="GA">
      GA
      </option>
      
      <option value="HI">
      HI
      </option>
      
      <option value="ID">
      ID
      </option>
      
      <option value="IL">
      IL
      </option>
      
      <option value="IN">
      IN
      </option>
      
      <option value="IA">
      IA
      </option>
      
      <option value="KS">
      KS
      </option>
      
      <option value="KY">
      KY
      </option>
      
      <option value="LA">
      LA
      </option>
      
      <option value="ME">
      ME
      </option>
      
      <option value="MD">
      MD
      </option>
      
      <option value="MA">
      MA
      </option>
      
      <option value="MI">
      MI
      </option>
      
      <option value="MN">
      MN
      </option>
      
      <option value="MS">
      MS
      </option>
      
      <option value="MO">
      MO
      </option>
      
      <option value="MT">
      MT
      </option>
      
      <option value="NE">
      NE
      </option>
      
      <option value="NV">
      NV
      </option>
      
      <option value="NH">
      NH
      </option>
      
      <option value="NJ">
      NJ
      </option>
      
      <option value="NM">
      NM
      </option>
      
      <option value="NY">
      NY
      </option>
      
      <option value="NC">
      NC
      </option>
      
      <option value="ND">
      ND
      </option>
      
      <option value="OH">
      OH
      </option>
      
      <option value="OK">
      OK
      </option>
      
      <option value="OR">
      OR
      </option>
      
      <option value="PA">
      PA
      </option>
      
      <option value="RI">
      RI
      </option>
      
      <option value="SC">
      SC
      </option>
      
      <option value="SD">
      SD
      </option>
      
      <option value="TN">
      TN
      </option>
      
      <option value="TX">
      TX
      </option>
      
      <option value="UT">
      UT
      </option>
      
      <option value="VT">
      VT
      </option>
      
      <option value="VA">
      VA
      </option>
      
      <option value="WA">
      WA
      </option>
      
      <option value="WV">
      WV
      </option>
      
      <option value="WI">
      WI
      </option>
      
      <option value="WY">
      WY
      </option>
      
      
    </select>
  </div>
</div>
</div><div class="row">
<div class="col-md-12">
  <div class="formfield">
    <label for="3728ac5b-baa9-4a62-a5c1-b7f818afede9">
      Zip Code
    </label>
    <input type="text" placeholder="" id="3728ac5b-baa9-4a62-a5c1-b7f818afede9" name="3728ac5b-baa9-4a62-a5c1-b7f818afede9" data-match="" data-validation="zip"  data-required="true"  maxlength="5">
  </div>
</div>
</div><div class="row">
<div class="col-md-12">
  <div class="formfield">
    <button class="btn btn-default" type="submit" id="392c3cc6-6f88-4f42-9396-b1d30b74b2ca" name="392c3cc6-6f88-4f42-9396-b1d30b74b2ca">
    Submit
    </button>
  </div>
</div>
</div><div class="row">
<div class="col-md-12">
  <div class="formfield">
    <label for="56c9592f-3b19-4a5b-964a-89e08490de4e">
      First Name
    </label>
    <input type="text" placeholder="" id="56c9592f-3b19-4a5b-964a-89e08490de4e" name="56c9592f-3b19-4a5b-964a-89e08490de4e" data-match="" data-validation="name"  data-required="true"  maxlength="30">
  </div>
</div>
</div></form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <footer class="footer" data-panel="4"> 
            
            <div class="text-center"><img src="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/ClassObjects/resources/images/powered_by_dja.png" alt="powered by don jagoda associates" /> </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
