<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Preview Template:Simple-Standard Side-by-Side View</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
<style>
.footer {
	padding: 10px 10px 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
}
label {
	display: block;
}
input[type='text'] {
	width: 100%;
}
.formfield {
	margin-top: 5px;
}
.flex-control-thumbs li {
	width: 16.666%!important;
}
.flex-control-thumbs img {
	height: 45px;
}
</style>
</head>

<body>
<div class="wrapper">
  <div id="content" class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="page-header col-sm-12">
          <div data-panel="1">
            <div class="row">  <div class="col-md-12"> <img src="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/main.jpg" alt="image" id="image.1.0" style="width: 100%; max-width:100%;"> </div>
</div><div class="row">
<div class="col-md-12">
  <div id="text.1.1">
    <h2></h2><h2>You Could Win a Weekend
Getaway at Gaithersburg Marriott Washingtonian Center!</h2>
  </div>
</div>
</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default well"> 
            <!-- Default panel contents -->
            <div class="panel-body" data-panel="2"> 
              <div class="row">
<div class="col-md-12">
  <div id="text.2.0">
    Let’s
help each other remember! We don’t mean to forget special occasions, but dates
are hard to recall, unless you’re lucky to have your event on a memorable one
like 12.13.14 — the century’s final sequential date.<br>To
celebrate this crazy phenomenon, each month through 12.13.14 we’re giving away
a weekend getaway with breakfast for two at Gaithersburg Marriott Washingtonian
Center — a prize package that’s sure to make your next special occasion
memorable. Enjoy the sophisticated charm of our renovated Marriott Greatroom,
new American restaurant and elegant lakeside wedding and event space near the
nation’s capital.<br>Submit
your best tip for remembering an occasion or brief story about something that
made an event memorable. Enter monthly — there’s a new winner on the 13th of
each month!

<br>
  </div>
</div>
</div><div class="row">
<div class="col-md-12">
  <div class="flexslider">
    <ul class="slides" id="slider.2.1">
      
      <li data-thumb="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide1.jpg"> <img src="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide1.jpg" alt="" /> </li>
      
      <li data-thumb="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide2.jpg"> <img src="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide2.jpg" alt="" /> </li>
      
      <li data-thumb="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide3.jpg"> <img src="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide3.jpg" alt="" /> </li>
      
      <li data-thumb="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide4.jpg"> <img src="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide4.jpg" alt="" /> </li>
      
      <li data-thumb="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide5.jpg"> <img src="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide5.jpg" alt="" /> </li>
      
      <li data-thumb="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide6.jpg"> <img src="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/mhr_gaithersburg/images/slide6.jpg" alt="" /> </li>
      
    </ul>
  </div>
</div>
<script type="text/javascript">
  $(window).load(function() { $('.flexslider').flexslider({
  	animation: "slide",    controlNav: "thumbnails",    smoothHeight: true
  }
  )}); 
</script> 

<!-- Temporary for Debugging --> 
<script type='text/javascript'>
var s = document.createElement("script");
s.type = "text/javascript";
s.src = "https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/common/flexslider/flexslider.js";
$("head").append(s);

var s = document.createElement("link");
s.rel="stylesheet";
s.href="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/common/flexslider/flexslider.css";
$("head").append(s);
</script> 
</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default well"> 
            <!-- Default panel contents -->
            <div class="panel-body" data-panel="3"> 
              <div class="row">
<div class="col-md-12">
  <div id="text.3.0">
    Sorry, you're not eligible. to enter this promotion.<br>
  </div>
</div>
</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <footer class="footer" data-panel="4"> 
            <div class="row">
<div class="col-md-12">
  <div id="text.4.0">
    No purchase necessary. Open to legal residents of the 50 U.S. and D.C., 21+.<br>
<br>
The Sweepstakes is in no way sponsored, endorsed or administered by, or associated with, Facebook. You understand that you are providing your information to Marriott International, Inc. and not to Facebook. The information you provide will only be used in connection with this Sweepstakes or in connection with promotional or other activities of Marriott International, Inc.<br>
  </div>
</div>
</div>
            <div class="text-center"><img src="https://0da60bded15fd7273900-c3b572a873829e347e4db4dadf512257.ssl.cf1.rackcdn.com/ClassObjects/resources/images/powered_by_dja.png" alt="powered by don jagoda associates" /> </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
