
<div class="col-md-<%= (typeof gridPanelSize != 'undefined') ? gridPanelSize : '12' %>">
    <button onclick="<%= (typeof target != 'undefined') ? 'window.open(\''+((typeof href != 'undefined') ? href : '')+'\', \''+target+'\''+(target == 'popup' ? ',\'height='+((typeof style != 'undefined' && style && style != 'x') ? style.split('x')[1] ? style.split('x')[1] : '800' : '800')+',width='+((typeof style != 'undefined' && style && style != 'x') ? style.split('x')[0] ? style.split('x')[0] : '800' : '800')+'\'' : '')+');return false;' : '' %>" class="btn btn-<%- (typeof color != 'undefined') ? color : 'default'%>" id="<%- (typeof id != 'undefined') ? id : ''%>">
    <%- (typeof text != 'undefined') ? text : '' %>
    </button>
</div>
